[alias]
  aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /' | sort
  pub = ! git co gh-pages && git rebase master && git co master && git push
  peek = stash show -p
  dc = diff --cached
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
  up = push
  down = pull
  patch = diff --no-prefix
  plg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  pick = cherry-pick -n
  pr = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"

  # From GBH
  amend = commit --amend --no-edit
  reword = commit --amend --only
  aa = add --all
  ff = merge --ff-only
  noff = merge --no-ff
  fa = fetch --all
  pom = push origin master
  ds = diff --stat=160,120
  dh1 = diff HEAD~1

  # Divergence (commits we added and commits remote added)
  div = divergence

  # Goodness (summary of diff lines added/removed/total)
  gn = goodness
  gnc = goodness --cached

  # Fancy logging.
  #   h = head
  #   hp = head with patch
  #   r = recent commits, only current branch
  #   ra = recent commits, all reachable refs
  #   l = all commits, only current branch
  #   la = all commits, all reachable refs
  #   b = all branches
  #   bs = all branches, sorted by last commit date
  head = !git r -1
  h = !git head
  hp = "!. ~/.githelpers && show_git_head"
  r = !GIT_NO_PAGER=1 git l -30
  ra = !git r --all
  l = "!. ~/.githelpers && pretty_git_log"
  la = !git l --all
  b = "!. ~/.githelpers && pretty_git_branch"
  bs = "!. ~/.githelpers && pretty_git_branch_sorted"
[branch]
  autoSetupRebase = always
  rebase = true
[color]
  diff = auto
  status = auto
  branch = auto
[core]
  editor = /opt/homebrew/bin/nvim
  autocrlf = input
  excludesfile = ~/.gitignore_global
[diff]
  compactionHeuristic = true
[include]
  path = ~/.gitconfig.local
[init]
  defaultBranch = main
[fetch]
  prune = true
[pager]
  branch = false
[push]
  autoSetupRemote = true
  default = matching
  useForceIfIncludes = true
[pull]
  rebase = true
[rebase]
  autoStash = true
  autoSquash = true
[rerere]
  enabled = true
  autoUpdate = true
[ui]
  color = true
[user]
  name = Jon Rowe
  email = hello@jonrowe.co.uk
  signingkey = D5137F0B
