*
!.*
.agignore
.DS_Store
.CFUserTextEncoding
.Xauthority
.vim/backup/
.viminfo
.pgpass
.rnd
.*-history
.*_history*
.*_hist
.netrc
.passwd-s3fs
.exercism
.inkscape-etc
.lesshst
.serverauth.*
.rvmrc
.gitconfig.local
.mongorc.js
.dbshell
.vim/bundle/vundle/.netrwhist
